/* Définir la marge de toute la page à 0 pour commencer */
*{
    margin: 0;
    padding:0;
}

/* Définir les paramètres du body */
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,25,85,0.30),rgba(0,25,220,0.30)),url(images/Img1.jpg);
    background-position: center;
    background-size: cover;
}

/* Les 4 prochains codes sont mon menu */

.Menu{
    width: 100%;
    height: auto;
    background-color: rgb(rgba(10, 9, 17,0.8));
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.ulnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    line-height: 25px;
}
    
.ulnav a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Times new roman';
    color: whitesmoke;
    padding: 0 30px;
}

ul li a:hover {
    color: grey;
}

/* Logo dans mon menu */
.Logo {
    float: left;
    height: 100px;
    width: 100px;
    background-color: linear-gradient(rgba(10, 9, 17,0.8),rgb(rgba(10, 9, 17,0.8)));
}

/* Titre dans toutes mes pages */
.h2P1{
    text-align: center;
    margin-top: 30px;
    color: whitesmoke;
    font-weight: 900;
    font-size: 35px;
    border-bottom: 10px solid whitesmoke;
}

/* Vidéos youtube */

iframe{
    width: 30%;
    height: 200px;
    border: 5px solid whitesmoke;
    margin-bottom: 50px;
}


/* Vidéo youtube */

.Video{
    text-align: center;
    margin-top: 70px;
    
    
}

/* Image dans ma page 1 */

.Imgp1{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    height: auto;
    width: 50%;
    border: 5px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(0.2);
    background-image: linear-gradient(rgba(0,25,85,0.80),rgba(24, 27, 51, 0.6));
}

/* Paragraphe page 1  */

.pp1{
    margin-top: 20px;
    width: 50%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    text-align: justify;
    border: 5px solid white;
    border-color: whitesmoke;
    padding: 5%;
    font-weight: 450;
    background-image: linear-gradient(rgba(0,25,85,1),rgba(24, 27, 51, 0.6));
}

/* Footer dans toutes les pages */

footer {
    position: fixed;
    left: 25%;
    bottom: 0;
    width: 50%;
    background-color: rgb(20, 49, 131);
    color: white;
    text-align: center;
    align-items: center;
}

/* Container de ma page Machine learning qui contient 3 divs */

.P3S1{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0,25,85,0.80),rgba(24, 27, 51, 0.6));
    border: 5px solid white;
    margin-left: 25%;
    margin-right: 25%;
}

/* Container de ma page Machine learning qui contient 2 divs */
.P3S11{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    text-align: justify;
    color: whitesmoke ;

}

/* Container texte de ma page Machine learning */

.P3ST{
    width: 40%;
    height: 80%;
    font-size: 1em;
    margin-top: 20px;
    align-self: center;
    
}

/* Container Image de ma page machine learning */

.P3SI{
    width: 40%;
    height: 80%;
    margin-top: 20px;
}

/* Images de ma page Machine learning */

.P3SI img{
    height: auto;
    width: 90%;
}

/* Boutton menu déroulant */

.dropbtn {
    background-color:#151227 ;
    opacity: 0.8;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
  }
  
/* Paramètres menu déroulant */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
/* Paramètres du contenu du menu déroulant */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #151227;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Paramètres des liens du menu déroulant */

  .dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

  /* Paramètres au passage de la souris du menu déroulant */
  
  .dropdown-content a:hover {background-color: #0e0d18;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #0f0d1a;}

/* Sous-titre de l'audio sur l'analyse de données */

  .P3H3{
    margin: 20px;
    color: whitesmoke;
  }

  /* Audio de l'analyse de données */

  audio{
    margin-bottom: 30px;
  }

  /* Container avec les images de ma page Mon appli */

  .ContainerMA {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-image: linear-gradient(rgba(0,25,85,1),rgba(24, 27, 51, 1)) ;
  }

  /* Container principale de la page Sources */

.pps{
    margin-top: 20px;
    width: 50%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    text-align: justify;
    border: 5px solid white;
    border-color: whitesmoke;
    padding: 5%;
    font-weight: 300;
    background-image: linear-gradient(rgba(0,25,85,1),rgba(24, 27, 51, 0.6));
    
}

/* Paramètres des images dans mon application */

.ImgAppli{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 5px solid white;

}

/* Logo Facebook dans la page Contact */

.logofb{
    height: auto;
    width: 25%;
    margin-left: 35%;
}

/* Div dans la page des sources */

.ULDiv {
    width: 50%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

/* paramètres de la liste dans ma page Plan */

.ULPlan{
    list-style-type: none;
}
.ULPlan li{
    margin-top: 20px;
    font-size: 40px;
    color: whitesmoke;
}

/* Paramètres des images des logos dans mon footer */

.logofbbot{
    width: 10%;
    height: auto;
    margin-bottom: 3px;
}
.logotwbot{
    width: 10%;
    height: auto;
}
.footerlogo{
    display: flex;
    justify-content: flex-start;
}
.logoemailbot{
    width: 10%;
    height: auto;
}
.planbot{
    width: 40%;
    text-decoration: none;
    color: whitesmoke;
}

.LogoContact {
    width: 80%;
    display: flex;
    flex-direction: row;
}